body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    height: 98vh;
}

h1{
    grid-row: 1;
}

form{
    grid-row: 3;
    justify-items: center;
}

input[type=text]{
    width: 90%;
    height: 3em;
    border-radius: 53px;
    background-color: #242424;
}

