body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    height: 98vh;
}

header{
    grid-row: 1;
}

nav{
    grid-row: 3;
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    width: 107px;
    height: 50px;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.laadbalk{
    height: 2.24px;
}

/*Chat*/
.chat-titel{
    grid-row: 1;
}

.bot{
    background-color: white;
    color: black;
}

.chat{
    overflow: scroll;
    p{
        padding: 7px;
        min-height: 35px; 
        max-width: 300px;
        border-radius: 30px;
        text-align: center;
    
        &:not([hidden]) {
          
        }
    }
    .first-message{
        text-align: left;
        background-color: white;
        color: black;
    }
}

.other{
    background-color: #242424;

   &:not([hidden]) {
    display: flex;
    justify-self: right;
   }
}

form{
    display: flex;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    min-width: 350px;
    max-width: 700px;
    height: 3em;
    border-radius: 53px;
    border: solid 1px white;
    p{
        background-color: white;
    }
}

input[type=text]{
    background-color: #242424;
    width: 95%;
    border: none;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

button[type=submit]{
    border: none;
    border-radius: 50px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 800;
}

/*images*/
.blauwegradient{
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/*slideshow*/
.slideshow {
    z-index: 100;
    margin:auto;
    margin-top: 10px;
    position: relative;
    width: 50%;
    max-width: 274px;
}
  
.slidesfade {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    animation: fadeEffect 20s infinite;
}
  
.slidesfade img {
    width: 100%;
    height: auto;
}
  
.slidesfade:nth-child(1) {
    animation-fill-mode: backwards;
    opacity: 1;
    animation-delay: 0s;
}
.slidesfade:nth-child(2) {
    animation-delay: 5s;
}
.slidesfade:nth-child(3) {
    animation-delay: 10s;
}
.slidesfade:nth-child(4) {
    animation-delay: 15s;
}
  
@keyframes fadeEffect {
    0% { opacity: 0; }   
    5% { opacity: 1; }   
    25% { opacity: 1; }  
    30% { opacity: 0; }  
    100% { opacity: 0; } 
}

/*Introductie*/
.uitleg{
    display: grid;
    justify-content: center;
    p{
       max-width: 380px; 
    }
}

.introductietekst{
    align-self: flex-end;
}

/*mediaqueries start & introductie*/
@media (min-width: 940px){
.main-start{
    grid-template-columns: 6fr 4fr;
}
.introductietekst{
    align-self: flex-start;
}
.uitleg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
}

.main-start{
    display: grid;
}

/*rouwtaken*/
.vier-rouwtaken{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 536.35px;

    img{
       width: 28.95%;
       max-width: 110px;
       align-self: center;
    }
    h2, p{
        margin: 0;
    }
}

.rouwtext{
    max-width: 300px;
}

.blue, .yellow, .red, .pink{
    display: flex;
    gap: 10px;
    max-height: 132.59px;
}

/*rouwtaken mediaqueries*/
@media (min-width:750px){
    .vier-rouwtaken{
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        
       
        img{
            width: 50%;
            max-width: 280px;
        }
    }
    .blue, .yellow, .red, .pink{
        display: grid;
        align-items: center;
        justify-items: center;
        margin-top: 3em;
    }
}

/*hover images*/
@media (min-width:1100px){
    .rouwtext{
        opacity: 0;
        transition: opacity 0.6s ease;
    }
        img:hover + .rouwtext,
        .blue:hover .rouwtext,
        .yellow:hover .rouwtext,
        .red:hover .rouwtext,
        .pink:hover .rouwtext,
        img:hover {
            opacity: 1;
            width: 70%;
            max-width: 340px;
    }
}

/*vragen*/
.vragen{
    display: grid;
    text-align: center;
    justify-items: center;
    p{
        margin-top: 2em;
    }
    img{
        width: 250px;
        height: 250px;
    }
}
/*vraag1*/
.vraag-button{
    width: 90%;
    height: 40px;
    max-width: 800px;
}

.vraag1{
    display: grid;
    text-align: center;
    justify-items: center;
}

.gradient1{
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    right: 0;
    z-index: -1;
    rotate: 180deg;
}

/*vraag2*/
.gradient2{
    position: absolute;
    width: 100%;
    height: 65%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
/*vraag3*/
.gradient3{
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    z-index: -1;
    rotate: 180deg;
}

/*hoofdmenu*/
.menu{
    display: grid;
    grid-template-rows: 1fr 2fr 7fr;
    background-color: #242424;
}

.header-menu{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 6fr 1fr;
    justify-items: center;
    align-items: center;
}

.main.menu{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 4fr 4fr;
    h2{
        grid-row: 1;
    }
    p{
        grid-row: 2;
    }
}

.vandaag{
    grid-column: 1;
    width: auto;
    height: 25px;
}

.praten{
    grid-column: 2;
    width: auto;
    height: 25px;
}

.drops{
    grid-column: 3;
    width: auto;
    height: 25px;
}

.profiel{
    grid-column: 5;
    width: auto;
    height: 25px;
}

.lijn{
    width: 90%;
    max-width: 650px;
    height: 2.24px;
    grid-row: 2;
}

.h1-menu{
    margin-left: 1.8em;
}

.logotje{
    position: absolute;
    top: 8em;
    left: 0;
    height: 60px;
    width: auto;
}

.praat-button{
    border: none;
    background-color: #242424;
}

.oefeningen{
    display: grid;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    div{
        height: 250px;
        background-color: black;
        border-radius: 50px;
        justify-items: center;
        align-items: center;
        text-align: left;
        
        img{
            height: 40px;
            width: auto;
        }
    }
}
